.cont_Light{
display: flex;
flex-direction: row;
align-items: center;
width: 1200px;
  /* height: 70px; */
padding-right: 20px;
   padding-left: 20px;
padding-top: 10px;
justify-content: space-between;
gap: 20px;
color: black;
  /* background-color: white; */
  border: 1px solid rgb(225, 224, 224);
  border-radius: 10px;
  /* animation: top 1s 0.5 both; */
}
  
  
  
  .cont_Light:hover{
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px -7px rgba(133,133,133,1);
  -moz-box-shadow: 10px 10px 5px -7px rgba(133,133,133,1);
  box-shadow: 10px 10px 5px -7px rgba(133,133,133,1);
  border: 1px solid rgb(225, 224, 224);
  cursor: pointer;
}
